{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Witaj {{user['username']}}{% endblock %}</h1>
{% endblock %}

{% block content %}
	<div>
		<a class="action" href="{{ url_for('logged.transfer')}}">Wykonaj przelew</a>
		<br>
		<a class="action" href="{{ url_for('logged.history')}}">Historia</a>
        <br>
        <a class="action" href="{{ url_for('logged.pending')}}">Oczekujące</a>
        <br>
        <a class="action" href="{{ url_for('logged.search')}}">Wyszukaj po tytule</a>
        <br>
        <a class="action" href="{{ url_for('logged.comment')}}">Dodaj komentarz</a>
{% endblock %}